python-dotenv==1.0.0
groq
AppOpener
pywhatkit
bs4
pillow
rich
requests
keyboard
cohere==4.39
googlesearch-python
selenium
mtranslate
pygame
edge-tts
PyQt5
webdriver-manager
gunicorn==23.0.0
flask
urllib3>=2.0.7
